
.config/hypr/conf/animation.conf-bak
.config/hypr/conf/autostart.conf-bak
.config/hypr/conf/cursor.conf-bak
.config/hypr/conf/decoration.conf-bak
.config/hypr/conf/environment.conf-bak
.config/hypr/conf/keybinding.conf-bak
.config/hypr/conf/layout.conf-bak
.config/hypr/conf/misc.conf-bak
.config/hypr/conf/window.conf-bak
.config/hypr/conf/windowrule.conf-bak
.config/hypr/hyprland.conf-bak
.config/hypr/monitors.conf-bak
.config/hypr/workspaces.conf-bak
.config/kitty/kitty.conf.bak
.cache/wal/colors
.cache/wal/colors-discord.css
.cache/wal/colors-hyprland.conf
.cache/wal/colors-hyprland.conf-bak
.cache/wal/colors-kitty.conf
.cache/wal/colors-konsole.colorscheme
.cache/wal/colors-oomox
.cache/wal/colors-putty.reg
.cache/wal/colors-rofi-dark.rasi
.cache/wal/colors-rofi-light.rasi
.cache/wal/colors-rofi-pywal.rasi
.cache/wal/colors-speedcrunch.json
.cache/wal/colors-sway
.cache/wal/colors-tty.sh
.cache/wal/colors-wal-dmenu.h
.cache/wal/colors-wal-dwm.h
.cache/wal/colors-wal-st.h
.cache/wal/colors-wal-tabbed.h
.cache/wal/colors-wal.vim
.cache/wal/colors-waybar.css
.cache/wal/colors-wlogout.css
.cache/wal/colors.css
.cache/wal/colors.hs
.cache/wal/colors.json
.cache/wal/colors.scss
.cache/wal/colors.sh
.cache/wal/colors.Xresources
.cache/wal/colors.yml
.cache/wal/schemes/_home_tduarte_Pictures_Wallpapers_IMG_5792_JPG_dark_None_None_1.1.0.json
.cache/wal/sequences
.cache/wal/wal
/.cache
.config/hypr/conf/keyboard.conf-bak
.config/hypr/conf/monitors.conf-bak
.config/hypr/conf/workspaces.conf-bak
.config/btop/btop.log
