
.config/hypr/conf/animation.conf-bak
.config/hypr/conf/autostart.conf-bak
.config/hypr/conf/cursor.conf-bak
.config/hypr/conf/decoration.conf-bak
.config/hypr/conf/environment.conf-bak
.config/hypr/conf/keybinding.conf-bak
.config/hypr/conf/layout.conf-bak
.config/hypr/conf/misc.conf-bak
.config/hypr/conf/window.conf-bak
.config/hypr/conf/windowrule.conf-bak
.config/hypr/hyprland.conf-bak
.config/hypr/monitors.conf-bak
.config/hypr/workspaces.conf-bak
.config/kitty/kitty.conf.bak
