/* CONTROL CENTER ------------------------------------------------------------------------ */
.blank-window {
  background: transparent;
}

.control-center {
  background: alpha(@backgrounddark, 0.5);
  border-radius: 10px;
  border: 2px solid @selected;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center
  .notification-row
  .notification-background
  .notification.critical {
  background-color: alpha(@backgrounddark, 0.95);
  border-radius: 14px;
  margin: 4px 0px;
  padding: 8px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  color: @urgent;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 8px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  /* min-height: 3.4em; */
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  background: alpha(@selected, 0.6);
  border-radius: 12px;
  margin: 6px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  font-size: 12px;
  margin-bottom: 6px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: alpha(#ffffff, 0.4);
  font-size: 12px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: alpha(#ffffff, 0.7);
  font-size: 12px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background: @selected;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: alpha(@color3, 0.6);
  border-radius: 6px;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
  color: @backgrounddark;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: @selected;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;
}
.notification-group-headers {
  font-weight: 600;
  font-size: 1rem;
}

.notification-group-icon {
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
  font-size: 1em;
  margin: 10px;
}

.widget-title button {
  background: @buttons;
  border-radius: 6px;
  padding: 10px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}
.widget-title button:hover label {
  color: @backgroundlight;
}

.widget-title button:active {
  background-color: @selected;
}

/* Do not disturb */
.widget-dnd {
  margin: 10px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @buttons;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: @selected;
}

.widget-dnd > switch:checked label {
  color: @backgroundlight;
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 6px;
}

/* Buttons menu */
.widget-buttons-grid {
  padding: 6px 2px;
  margin: 0px;
  border-radius: 10px;
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 4px;
  padding: 6px 16px;
  background: @buttons;
  border-radius: 8px;
  min-width: 40px;
  min-height: 20px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @hover;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover label {
  color: @backgroundlight;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: @color1;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
  color: @backgroundlight;
}

/* Music player */
.widget-mpris {
  background: @backgrounddark;
  border-radius: 10px;
  margin: 20px 6px;
}

/* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  background-color: @backgrounddark;
  border-radius: 10px;
  padding: 12px;
  padding-bottom: 0px;
  margin: 6px;
}

.widget-mpris > box > button {
  border-radius: 10px;
}

.widget-mpris button {
  margin: 16px 32px 0px 32px;
}

.widget-mpris button:hover {
}

.widget-mpris-album-art {
  border-radius: 8px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.8rem;
}

/* Volume */
.widget-volume {
  background: @hover;
  border-radius: 8px;
  min-width: 1.25rem;
}

.progressbar {
  color: white;
  background: @hover;
  min-width: 1.5rem;
}

.widget-volume {
  background-color: transparent;
  padding: 10px;
  min-width: 1.5rem;
}

.widget-volume trough {
  /* OnePlus McClaren edition Orange accent */
  background: @buttons;
  min-width: 1.5rem;
  border-radius: 8px;
}

.widget-volume trough highlight {
  background-color: @hover;
  border-radius: 8px 0px 0px 8px;
}

.widget-volume trough slider {
  /* OnePlus McClaren edition Orange accent */
  background-color: @text;
  border-radius: 32px;
  min-height: 1.7rem;
  min-width: 1.7rem;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
