@import '../../.cache/wal/colors-waybar.css';

@define-color backgroundlight @foreground;
@define-color backgrounddark @background;
@define-color accentcolor @color1;
@define-color border @color11;
@define-color textdark @foreground;

window {
    background-color: transparent;
	text-shadow: none;
	box-shadow: none;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px;
	background-color: transparent;
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: @backgrounddark;
	border-radius: 10px;
	border-style: solid;
	border-color: @border;
	border-width: 2px;
	box-shadow: none;
	text-shadow: none;
	padding: 5px;
	margin: 5px
}

button, image {
	background: none;
	border: none;
	text-shadow: none;
	box-shadow: none
}

button {
	color: @textdark;
	background: none;
	border: none;
	box-shadow: none;
	text-shadow: none;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: @accentcolor;
	color: @backgroundlight;
	text-shadow: none;
	box-shadow: none;
}
