:root {
  --color0: #134D5B;
  --color1: #65BCC9;
  --color2: #0BE1E4;
  --color3: #CAAAAA;
  --color4: #9FABD4;
  --color5: #D5ABD7;
  --color6: #A9CFE4;
  --color7: #D6D4EC;
  --color8: #666666;
  --color9: #65BCC9;
  --color10: #0BE1E4;
  --color11: #CAAAAA;
  --color12: #9FABD4;
  --color13: #D5ABD7;
  --color14: #A9CFE4;
  --color15: #D6D4EC;
}
